#
# Install other packages
#

- name: sid | set debian sid pinning
  copy: src=sid.pref dest=/etc/apt/preferences.d/sid.pref
  become: yes
  tags:
    - sid

- name: sid | add debian sid repository
  include: >
    ../../../tasks/apt.yml
    name=sid
    url='deb http://ftp.debian.org/debian/ sid main contrib non-free'
    key=7638D0442B90D010
  tags:
    - sid

- name: nano | install
  apt: pkg=nano state=latest default_release=sid
  become: yes
  tags:
    - nano

- name: install utility packages
  apt: 'pkg={{ item }} state=latest'
  become: yes
  with_items:
    - aptitude
    - htop
    - jq
    - multitail
    - realpath
    - tmux
    - tree
  tags:
    - bin
    - util

#
# Install programming languages and packages from their repositories
#

- name: go
  include: lang-go.yml
  tags: ['languages', 'go']
- name: node
  include: lang-node.yml
  tags: ['languages', 'node']
- name: python
  include: lang-python.yml
  tags: ['languages', 'python']
- name: ruby
  include: lang-ruby.yml
  tags: ['languages', 'ruby']

#
# Install services
#

- name: supervisor
  include: service-supervisor.yml
  tags: ['services', 'supervisor']

#
# Install development tools
#

- name: asciinema
  include: tool-asciinema.yml
  tags: ['tools', 'asciinema']
- name: ack
  include: tool-ack.yml
  tags: ['tools', 'ack']
- name: ansible
  include: tool-ansible.yml
  tags: ['tools', 'ansible']
- name: chefdk
  include: tool-chefdk.yml
  tags: ['tools', 'chefdk', 'chef']
- name: docker
  include: tool-docker.yml
  tags: ['tools', 'docker']
- name: git
  include: tool-git.yml
  tags: ['tools', 'git']
- name: keybase
  include: tool-keybase.yml
  tags: ['tools', 'keybase']
- name: nix
  include: tool-nix.yml
  tags: ['tools', 'nix']
