#
# Configure virtualenv
#

- name: virtualenv | create ~/.virtualenvs directory
  file: 'name={{ ansible_env.HOME }}/.virtualenvs state=directory'

- name: virtualenv | create scripts
  copy: 'src={{ item }} dest={{ ansible_env.HOME }}/.virtualenvs/{{ item }} mode=0755'
  with_items:
    - postmkvirtualenv

#
# Install python packages
#

- name: python | install packages
  pip: "name={{ item }} state=present executable=pip3 extra_args=--user"
  with_items:
    - httpie
    - pex
    - tox
    - v
    - watch-fs
    - wheel
    - youtube_dl
