---
- tags:
    - 'git'
  block:
    - name: 'copy git config directory'
      ansible.builtin.copy:
        src: '.config/git/'
        dest: '{{ lookup("env", "HOME") }}/.config/git/'
        mode: 'preserve'
      tags:
        - 'dotfiles'
        - 'gitconfig'
        - 'githooks'
        - 'gitignore'

    - name: 'assemble git config'
      ansible.builtin.assemble:
        src: '{{ lookup("env", "HOME") }}/.config/git/config.d/'
        dest: '{{ lookup("env", "HOME") }}/.config/git/config'
        delimiter: '\n'
      tags:
        - 'gitconfig'
        - 'gitignore'
        - 'dotfiles'

    - name: 'create git source code directories'
      ansible.builtin.file:
        name: '{{ lookup("env", "HOME") }}/{{ item }}'
        state: 'directory'
      with_items:
        - 'Development/github.com'
        - 'Development/github.com/borntyping'
        - 'Development/gitlab.com'
        - 'Development/gitlab.com/borntyping'
        - 'Development/scratch'
      tags:
        - 'scratch'

    - name: 'create git-river config directory'
      tags: ['git', 'git-river']
      ansible.builtin.file:
        name: '{{ lookup("env", "HOME") }}/.config/git-river'
        state: 'directory'
