# Ignore Peru cache files
.peru/

# Ignore editor and local configuraton
.local/
.idea/
.vscode/

# Ignore Ansible retry files.
site.retry

# Ignore host vars for the local machine.
host_vars/localhost.yml
