# Ignore Peru cache files
.peru/

# Ignore editor configuraton
.idea/
.vscode/

# Ignore Ansible retry files.
site.retry

# Ignore host vars for the local machine.
host_vars/localhost.yml
host_vars/localhost.yaml
host_vars/graphical/localhost.yml
host_vars/graphical/localhost.yaml
