# Ignore Peru cache files
.peru/

# Ignore editor configuraton
.idea/
.vscode/

# Ignore Ansible retry files.
site.retry

# Ignore host vars with sensitive information.
host_vars/*/secrets.yml
host_vars/*/secrets.yaml
