ControlMaster auto
ControlPath ~/.ssh/controlmasters/%r@%h:%p
IdentitiesOnly yes
ServerAliveCountMax 3
ServerAliveInterval 60
StrictHostKeyChecking accept-new
TCPKeepAlive yes

Host github.com
    User git
    IdentitiesOnly yes
    IdentityFile "~/.ssh/keys/id_ed25519_github"

Host gitlab.com
    User git
    IdentitiesOnly yes
    IdentityFile "~/.ssh/keys/id_ed25519_gitlab"
