ControlMaster auto
ControlPath ~/.ssh/controlmasters/%C
IdentitiesOnly yes
ServerAliveCountMax 3
ServerAliveInterval 60
StrictHostKeyChecking accept-new
TCPKeepAlive yes

Host cheri.bunny-moth.ts.net
    User src
    IdentitiesOnly yes
    IdentityFile "~/.ssh/keys/id_ed25519_cheri"

Host umbreon.bunny-moth.ts.net
    User src
    IdentitiesOnly yes
    IdentityFile "~/.ssh/keys/id_ed25519_umbreon"

Host github.com
    User git
    IdentitiesOnly yes

Host gitlab.com
    User git
    IdentitiesOnly yes
    IdentityFile "~/.ssh/keys/id_ed25519_gitlab"
