ControlMaster auto
ControlPath /tmp/ssh-%i-%r@%h:%p
ControlPersist yes
GSSAPIAuthentication no
IdentitiesOnly yes
ServerAliveCountMax 3
ServerAliveInterval 60
TCPKeepAlive yes

Host github.com
    User git
    IdentitiesOnly yes
    IdentityFile "~/.ssh/keys/id_ed25519_github"

Host gitlab.com
    User git
    IdentitiesOnly yes
    IdentityFile "~/.ssh/keys/id_ed25519_gitlab"
