#
# Fetch {{ url }} and use it to install {{ name }}.
#

- name: "{{ name }} | version {{ version }}"
  set_fact: "deb_version={{ version }}"

- name: "{{ name }} | query dpkg"
  command: "dpkg -s {{ name }}"
  register: "deb_dpkg"
  failed_when: "deb_dpkg.rc > 1"
  changed_when: no

- name: "{{ name }} | check if {{ name }} is installed"
  set_fact: >
    deb_install='{{
      (not deb_dpkg.get('skipped', False)) and
      deb_dpkg.rc == 1
    }}'

- name: "{{ name }} | check if {{ name }} is outdated"
  set_fact: >
    deb_update='{{
      (not deb_dpkg.get('skipped', False)) and
      deb_dpkg.rc == 0 and
      "Version: %s" % deb_version not in deb_dpkg.stdout
    }}'

- name: "{{ name }} | fetch package"
  get_url: "url={{ url }} dest=/tmp/{{ name }}.deb"
  when: "deb_install or deb_update"

- name: "{{ name }} | install package"
  apt: "deb=/tmp/{{ name }}.deb"
  become: yes
  when: "deb_install or deb_update"
