[alias]
actions = "!gh run list --branch $(git rev-parse --abbrev-ref HEAD)"
amend-and-force-push = "!git commit --all --amend --no-edit && git pushf"
gitlab-create-merge-request = "push --push-option=merge_request.create"
hist = "log --graph --pretty=graph --date=short --decorate -n 10"
history = "log --all --graph --pretty=graph --date=short --decorate"
ignored-files = "ls-files -o -i --exclude-standard"
pushf = "push --force-with-lease --force-if-includes"
recent-branches = "for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads"

[branch]
autoSetupRebase = always

[color]
diff = auto
status = auto
branch = auto
ui = auto
interactive = auto
pager = true

[color "status"]
added = green
changed = yellow
untracked = red

[column]
ui = auto

[commit]
verbose = true

[core]
autocrlf = input
editor = "micro"
excludesFile = "~/.config/git/ignore"
hooksPath = "~/.config/git/hooks"

[credential]
helper = store

[diff]
algorithm = "histogram"
colorMoved = true
mnemonicPrefix = true
noprefix = true
renames = true

[fetch]
fsckObjects = true
prune = true
pruneTags = true

[init]
defaultBranch = "main"

[merge]
autoStash = true
conflictStyle = "zdiff3"
guitool = "meld"

[mergetool]
keepBackup = false

[pager]
hist = "less -FX"

[pretty]
graph = "%C(red)%h%C(reset) %s%C(cyan)%d%C(reset) %C(bold green)(%ah, %an)%C(reset)"

[push]
autoSetupRemote = true
default = simple
followTags = true

[pull]
ff = only
rebase = true

[rebase]
autoSquash = true
autoStash = true
missingCommitsCheck = warn
updateRefs = true

[receive]
fsckObjects = true

[rerere]
enabled = true
autoUpdate = true


[tag]
sort = "version:refname"

[transfer]
fsckObjects = true
