; https://dandavison.github.io/delta/
; https://dandavison.github.io/delta/get-started.html

[core]
pager = delta

[interactive]
diffFilter = delta --color-only

[delta]
line-numbers = true
width = variable

file-decoration-style = blue box
hunk-header-decoration-style = blue box

[merge]
conflictstyle = diff3

[diff]
colorMoved = default
